[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/utility"]
	path = external/utility
	url = https://github.com/M0ST4FA/utility
